<!DOCTYPE html>
<body><center>
    Searching for:<br> <b>name:'{{ s1 }}' &emsp;&emsp; email:'{{ s2 }}' &emsp;&emsp; department:'{{ deptn }}'</b>
    <br><br>
    <table border="1" cellpadding="1" cellspacing="1" width="100%" id="results">
        <tbody><tr>
            <th align="left" class="TableHead">
                Name
            </th>
            <th align="left" class="TableHead">
                Department
            </th>
            <th align="left" class="TableHead">
                E-mail
            </th>
        </tr>
</tbody></table>
</body>


<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18220'>Arnab Bhattacharya </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "arnabb@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18221'>Ajai Jain </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "ajain@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18222'>Amey Karkare </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "karkare@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18223'>Anil Seth </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "seth@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18224'>Biswabandan Panda </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = " ";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18225'>Debadatta Mishra </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = " ";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18226'>Dheeraj Sanghi </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "dheeraj@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18227'>Hamim Zafar </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = " ";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18228'>Harish Karnick </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "hk@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18229'>Indranil Saha </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "isaha@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18230'>Mainak Chauduri </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "mainakc@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18231'>Manindra Agrawal </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "manindra@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18232'>Nitin Saxena </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "nitin@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18233'>Nisheeth Srivastava </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "nsrivast@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18234'>Phalguni Gupta </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "pg@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18235'>Piyush Rai </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "piyush@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18236'>Purushottam Kar </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "purushot@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18237'>R. K. Ghosh </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "rkg@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18238'>Raghunath Tewari </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "rtewari@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18239'>Rajat Mittal </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "rmittal@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18240'>Rajat Moona </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "moona@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18241'>Sandeep K. Shukla </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "sandeeps@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18242'>Sanjeev Saxena </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "ssax@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18243'>Satyadev Nandakumar </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "satyadev@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18244'>Subhajit Roy </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "subhajit@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18245'>Sumit Ganguly </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "sganguly@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18246'>Sunil Easaw Simon </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "simon@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18247'>Surender Baswana </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "sbaswana@cse.iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18248'>Swaprava Nath </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = " ";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18249'>Swarnendu Biswas </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = " ";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18250'>Tadinada Venkata Prabhakar </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "tvp@iitk.ac.in";
</script>
<script>
var table = document.getElementById("results");
var row = table.insertRow(-1);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2)
cell1.innerHTML = "<a href='/prof/18251'>Vinay P. Namboodiri </a>";
cell2.innerHTML = "Computer Science & Engineering";
cell3.innerHTML = "vinaypn@iitk.ac.in";
</script>